# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS och Editor-filer
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
.next/
out/
coverage/

# TypeScript
*.tsbuildinfo

# Lint cache
.eslintcache

# Optional npm cache directory
.npm/

# Local Netlify folder
.netlify/

# Output of 'npm pack'
*.tgz

# Bun
.bun/

# Parcel-bundles
.cache/

# SvelteKit
.svelte-kit/

# Storybook
storybook-static/

# VS Code workspace settings
*.code-workspace
